.onemedia {
  padding: 50px 0;
  &__content {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 70%;
    iframe {
      width: 100%;
    }
    &-title {
      font-weight: 500;
      font-size: 15px;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.72);
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 30%;
    &-title {
      font-weight: 700;
      font-size: 56px;
      text-align: center;
      color: #FFFFFF;
    }
    &-year {
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: rgba(255, 255, 255, 0.72);
    }
    &-genres {
      display: flex;
      justify-content: center;
      column-gap: 10px;
    }
    &-genre {
      padding: 5px;
      border: 3px solid #EA003D;
    }
    &-lang {
      display: flex;
      justify-content: center;
      column-gap: 20px;
    }
    &-persons {
      &_row {
        display: flex;
        align-items: start;
        column-gap: 10px;
        text-align: center;
      }
      margin-bottom: 30px;
    }
    &-person {
      width: calc(20% - 8px);
      div {
        width: 56px;
        height: 56px;
        padding: 5px 3px 3px 3px;
        background: gray;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
        }
        p {
          font-size: 13px;
          line-height: 16px;
          font-weight: 400;
        }
      }
    }
    &-hd {
      padding: 2px 7px;
      background: rgba(255, 255, 255, 0.16);
      border-radius: 4px;
      font-weight: 500;
      font-size: 13px;
      color: #FFFFFF;
      cursor: pointer;
      &:hover {
        background: #1F1B2E;
      }
    }
    &-desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.72);
    }
    &-rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255,255,255,.08);
      border-radius: 12px;
      padding: 10px;
      &_left {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
      }
      &_rate {
        font-size: 24px;
        font-weight: 700;
        background-color: #73a32f;
        padding: 20px;
        border-radius: 12px;
      }
    }
  }
}